<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Users</h1>
    
    <table>
    <tr>
      <th>id</th>
      <th>Full Name</th>
      <th>Email</th>
      <th>Created at</th>
    </tr>
    {% for i in all_users %}
    <tr>
        <td>{{i['id']}}</td>
        <td>{{i['first_name']+i['last_name']}}</td>
        <td>{{i['email']}}</td>
        <td>{{i['created_at']}}</td>
      </tr>
    {% endfor %}
    </table>
    <form action="/new",method="post">
        <input type="submit" name="sumbit" value="Add a new User"> 
    </form>
</body>
</html>